.modal-footer .btn + .btn {
    margin-bottom: 0px;
    width:800px;
}

.fmb-btn-arrow {
    font-size: 3em;
}

.fmb-btn-arrow:hover {
    color: white;
}

.scroll {
    height: 500px;
    overflow: scroll;
}