@font-face {
    font-family: "Avenir Next";
    src: url(/static/libs/fonts/avenir-next-lt-pro-demi.otf) format("truetype");
}

body {
    font-family: "Avenir Next";
    color: white;
}

input:focus {
    border-bottom: 1px solid !important;
    box-shadow: 0 1px 0 0 !important;
}

p {
    font-size: 1.6rem
}

.fmb-font-sm {
    font-size: 1.5rem;
}

.fmb-font-md {
    font-size: 2.5rem;
    font-weight: bold;
}

.fmb-font-title {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.fmb-border-message {
    border-radius: 5px;
}

.fmb-border-item {
    border-radius: 5px;
}

.fmb-border-new {
    border-radius: 50px;
}

.fmb-btn-logout {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.fmb-btn-previous {
    position: absolute;
    left: 0;
    top: 2.2em;
    font-size: 3em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.fmb-btn-back {
    font-size: 3em;
}


.fmb-btn-logout:hover {
    color: white;
}

.fmb-btn-previous:hover {
    color: white;
}

.relative {
    position: relative;
}


.information-message{
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

