@font-face {
    font-family: "Avenir Next";
    src: url(/static/libs/fonts/AvenirNextLTPro-Cn.otf) format("truetype");
}

body {
    font-family: "Avenir Next";
    color: white;
    background-color: #1f6f4c
}

p {
    font-size: 1.6rem
}

a {
    color: #1f6f4c;
}

a:hover {
    color: #33b67d;
}

.fa {
    color: #1f6f4c;
}

.active {
    color: #1f6f4c;
}

input:focus {
    border-bottom: 1px solid #1f6f4c !important;
    box-shadow: 0 1px 0 0 #1f6f4c !important;
}

.fmb-font-sm {
    font-size: 1.5rem;
}

.fmb-font-md {
    font-size: 2.5rem;
    font-weight: bold;
}

.fmb-font-title {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.fmb-bg-primary {
    background-color: #38ca8b;
}

.fmb-bg-secondary {
    background-color: #33b67d
}

.fmb-btn-primary {
    background-color: #1f6f4c
}

.fmb-btn-primary:hover {
    background-color: #33b67d
}