.fmb-btn-arrow:hover {
    color: white;
}

.proposition {
    visibility:hidden;
    display:none;
}

input[type="radio"]:checked + p { color: green }

.compteur {
    font-size : 1.6rem;
}

.lol {
    height: 100px;
}
