.modal-footer .btn + .btn {
	margin-bottom: 0px;
}

.fmb-btn-primary.active {
	background-color: #33b67d;
}

.fmb-btn-primary.selected {
	background-color: white !important;
	color: #33b67d !important;
}